* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    
    background: url("https://mcdn.wallpapersafari.com/medium/5/18/8eqCRr.png"); 
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.container {
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 3px black;
}

.header {
    background-color: #f7f7f7;
}

.header h2 {
    padding: 20px;
}

.form {
    padding: 20px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #f0f0f0;
}

.form-control i {
    position: absolute;
    right: 10px;
    top: 40px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    left: 0;
    margin-top: 5px;
    visibility: hidden;
}

.form button {
    display: block;
    width: 100%;
    background-color: rgb(97, 97, 96);
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    
}

.form button:hover{
    background-color: green;
    color: white;
}

.form-control.success input {
    border-color: rgb(48, 207, 48);
}

.form-control.success .fa-check-circle {
    visibility: visible;
    color: rgb(48, 207, 48);
}

.form-control.error input {
    border-color: red;
}

.form-control.error .fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: red;
}

.newUser{
    color: blue;
    font-size: 12px;
    float: right;
    margin: 20px;
    text-decoration: underline;
}
.newUser:hover{
    cursor: pointer;
    text-decoration: none;
}